$color-primary:#212D50;
$color-secondary:#F29A7F;
$color-third:#EBF1FA;
$color-four:#FBCAB6;
$color-five:#FFF1EB;
$color-grey:#BABABA;
$color-background:#fff;

//===============RESPONSIVE BREAKPOINTS==================//

$bp-large:75em; //======>  1200px / 16px = 75
$bp-medium:62.5em;
$bp-small:50em; //=======> 800px / 16px =50
$bp-verysmall:22em;